server:
  port: 3300

logging:
  level:
    org:
      springframework:
        security: TRACE
        web: TRACE



spring:
  datasource:
    url: jdbc:h2:mem:testdb #usually default db is "testdb". This url has been set for storing database with name "testdb" in memory, database can be stored as a file in system directory also, the metnioned database will be automatically created by Spring Boot Auto Configuration.
    #url: jdbc:h2:file:~/database/h2/testdb #for storing database named "testdb" as a file in system
    driverClassName: org.h2.Driver  #usually can be skipped, as spring boot usually takes care of it
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
  
    hibernate:
      ddl-auto: create
      dialect: org.hibernate.dialect.H2Dialect
  
  
  h2:
    console:
      enabled: true
      path: /h2-console #usually default path set by spring. server port for accessing this embedded database in spring, path localhost:${tomcat_server_port}/h2-console
      
      
jwt_secret=testUesr