server:
  port: 3300

logging:
  level:
    org:
      springframework:
        security: TRACE
        web: TRACE



spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
  
    hibernate:
      ddl-auto: create
      dialect: org.hibernate.dialect.H2Dialect
  
  
  h2:
    console:
      enabled: true
      path: /h2-console
      
