server:
  port: 3300

logging:
  level:
    org:
      springframework:
        security: TRACE
        web: TRACE



spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
  
    hibernate:
      ddl-auto: create
      dialect: org.hibernate.dialect.H2Dialect
  
  
  h2:
    console:
      enabled: true
      path: /h2-console
      
      
      
mac:
  jwtSecret: secretKeyForSigningOfJosonWebToken
  
  
  
  
application-description: User Management Apis Documentation
application-version: 1.0.0
application-title: UserManagement


springdoc:
  api-docs:
    path: /api-docs
  # swagger-ui custom path
  swagger-ui.path: /swagger-ui.html
  use-fqn: true

